---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}




// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;




/**
 * TiMEdu extras
 */

.timedu-page-nav {
  margin-bottom: 10px;
  .page-link {    
    color: $text-color;
  }  
}

.site-header {
  // 170815/TiM
	// background-color: #F2F2F2;
  background-color: #24292E;	
  .page-link, .site-title {
    color: #C8C9CB;
    &:hover {
        color: #FFFFFF;
        text-decoration: none;
    }    
  }  
  border-top-width: 0px;
  border-bottom-width: 0px;
  // -
}



pre, code, .highlighter-rouge .highlight {
	background: #eee;	
}

.page-content .wrapper {
  border-left: dotted grey thin;
}

.post-header h1 {
  border-bottom: dotted grey thin;
}
/*
.post-header {
  padding-top: 10px;

}
*/

.timedu-table-1 {
  td, th {
        border: 1px solid lightgrey;
        padding: 0.1em;
        width: 4em;
  }  
}


